.skills-container.dana h1 {
  background: #80003b;
}
.skills-container.dana .skills-details .table-skills th {
  background-color: #21005a;
}
.skills-container.dana .skills-details .table {
  background-color: #21005a30;
}
.skills-container.dana button.add-rotation {
  background-color: #21005a;
  transition: background-color 0.2s;
}
.skills-container.dana button.add-rotation:hover {
  background-color: #2600b1;
}
.skills-container.dana .chains-container .dropdown-toggle {
  color: white;
  border: 1px solid white;
  background-color: #21005a30;
}
.skills-container.dana .chains-container .dropdown-toggle:hover {
  background-color: #0b00805e;
}
.skills-container.dana:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -999;
  opacity: 0.5;
  background: url(./img/dana_2544x2160.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
