.skills-container.erwin .skills-details .table-skills th {
  background-color: #003980;
}
.skills-container.erwin .skills-details .table {
  background-color: #00398040;
}
.skills-container.erwin button.add-rotation {
  background-color: #003980;
  transition: background-color 0.2s;
}
.skills-container.erwin button.add-rotation:hover {
  background-color: #0049a3;
}
.skills-container.erwin .chains-container .dropdown-toggle {
  color: white;
  border: 1px solid white;
  background-color: #00398040;
}
.skills-container.erwin .chains-container .dropdown-toggle:hover {
  background-color: #0059c740;
}
.skills-container.erwin:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -999;
  opacity: 0.5;
  background: url(./img/erwin_2600x1936.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}