.skills-container.ephnel .skills-details .table-skills th {
  background-color: #00561e;
}
.skills-container.ephnel .skills-details .table {
  background-color: #08800030;
}
.skills-container.ephnel button.add-rotation {
  background-color: #00561e;
  transition: background-color 0.2s;
}
.skills-container.ephnel button.add-rotation:hover {
  background-color: #006423;
}
.skills-container.ephnel .chains-container .dropdown-toggle {
  color: white;
  border: 1px solid white;
  background-color: #00ff4e26;
}
.skills-container.ephnel .chains-container .dropdown-toggle:hover {
  background-color: #00ff4e36;
}
.skills-container.ephnel:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -999;
  opacity: 0.5;
  background: url(./img/ephnel_2400x2380.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.skills-container.ephnel .ephnel-buff {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-bottom: 1em;
  border-top: 1px solid white;
  padding-top: 1em;
}
.skills-container.ephnel .ephnel-buff p {
  margin-bottom: 0;
}
.skills-container.ephnel .ephnel-buff > div {
  /* display: flex; */
  padding: 0.5em 2em;
  border: 1px solid white;
  background: #ffffff08;
  box-sizing: border-box;
}
.skills-container.ephnel .ephnel-buff > div:hover {
  cursor: pointer;
  background: #ffffff2b;
}
.active-dmg{
  border: 1px solid white !important;
  background: #00802d7d !important;
}
@media screen and (max-width: 500px) {
  .ephnel-buff {
    flex-direction: column;
    height: 150px;
  }
  .ephnel-buff > div {
    width: 240px;
  }
}