.skills-container.iris .skills-details .table-skills th {
  background-color: #800000;
}
.skills-container.iris .skills-details .table {
  background-color: #48000054;
}
.skills-container.iris button.add-rotation {
  background-color: #800000;
}
.skills-container.iris .chains-container .dropdown-toggle {
  color: white;
  border: 1px solid white;
  background-color: #48000054;
}
.skills-container.iris .chains-container .dropdown-toggle:hover {
  background-color: #ff000038;
}
.skills-container.iris:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -999;
  opacity: 0.5;
  background: url(./img/iris.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 100px 20px black inset;
}