.skills-container.stella .skills-details .table-skills th {
  background-color: #490080;
}
.skills-container.stella .skills-details .table {
  background-color: #49008030;
}
.skills-container.stella button.add-rotation {
  background-color: #490080;
  transition: background-color 0.2s;
}
.skills-container.stella button.add-rotation:hover {
  background-color: #570199;
}
.skills-container.stella .chains-container .dropdown-toggle {
  color: white;
  border: 1px solid white;
  background-color: #7a00ff26;
}
.skills-container.stella .chains-container .dropdown-toggle:hover {
  background-color: #7a00ff45;
}
.skills-container.stella:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -999;
  opacity: 0.5;
  background: url(./img/stella_2400x2400.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 100px 20px black inset;
}